* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav--bar {
    width: 100%;
    height: 60px;
    background-color: #424241;
    margin: 0;
}

.nav--item {
    margin: 0 20px 0 0;
    align-self: center;
    font-size: 2em;
    text-decoration: none;
    color: #e4a451;
}

.container {
    display: flex;
    flex-direction: column;   
}

.banner {
    max-width: 100vw;
    height: 20vh;
}

.banner--image {
    width: 100%;
    height: 100%;
}

.product-content {
    width: 80%;
    margin: 20px auto;
}
.card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    min-width: 340px;
    height: 600px;
    min-height: 450px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px, 
        rgba(0, 0, 0, 0.35) -5px -5px 15px;
    
}

.card--image {
    height: 80%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: block;
}

.card--label {
    display: block;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    font-size: 55px;
    color: orangered;

}

.card--buttons-container {
    height: 10%;
    width: 100%;
    display: flex;
}

.card--button, .card--input {
    width: 25%;
    height: 100%;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
    color: white;
    border-style: none;
}

.card--input {
    color: #85827e;
    font-size: 2em;

}

.left--button {
    border-radius: 0px 0px 0px 5px;
}

.right--button {
    border-radius: 0px 0px 5px 0px;
}

.cart {
    background-color: #2384c5;
}

.remove {
    background-color: #c04b3b;
}

.add {
    background-color: #74cf4a;
}

.card--button:hover {
    transform: scale(1.1);
}

.card--button:focus {
    outline: none;
}

.md {
    width: 33.33%;
}